  <div class="small-3 columns">
  <article id="sidebar" class="events-press-cta panel sticky">
  <%= image_tag @user.profile_photo, class: "profile" %>
    <h1><%= @user.name %></h1>
    <p><strong>Location</strong><br><%= @user.location %></p>
    <p><strong>Experience Level</strong><br><%= @user.experience %></p>
    <p><strong>About</strong><br><%= @user.about %></p>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "button small" %>
  </article></div>
  <div class="small-9 columns" data-equalizer>
      <ul class='small-block-grid-3'>
        <% @user.inspections.each do |i| %>
          <li class="<%= @int += 1 %>">
            <div class="profile-card" data-equalizer-watch>
              <%= link_to image_tag("inspect.png"), inspection_path(i), class: "tinyhive" %>
      <h4 class="subheader">Inspection № <%= i.id %></h4>
      <p><strong>Hive</strong>
        <% @user.hives.each do |h| %>
          <%- if h.id == i.hive_id -%>
            <%= h.name %>
          <%- end -%>
        <% end %>
      </p>
        <strong>Date</strong>
        <%= i.date %></p>
      <p>
        <strong>Time of Day</strong>
        <%= i.time_of_day %></p>
        <p>
          <strong>Tags</strong>
          <%= render i.tags %></p>
        <%- if i.user == current_user -%>
        <ul class="button-group">
          <li><%= link_to "Edit", edit_inspection_path(i), class: "button small" %></li>
          <li><%= link_to "Delete",
                inspection_path(i),
                data: { confirm: "Really?" },
                method: :delete,
                class: "button small" %></li>
                  </ul>
          <%- end -%>
      </div>
    </li>
    <% end %>

      <% @user.hives.each do |h| %>
      <li class="<%= @int += 1 %>" >
            <div class="profile-card" data-equalizer-watch>
                <%= link_to image_tag("hive.png"), hive_path(h), class: "tinyhive" %>
        <h4 class="subheader">  <%= h.name %></h4>

        <p><strong>Location</strong>
        <%= h.location %></p>
        <p>
          <strong>Established</strong>
          <%= h.established %></p>
          <p>
            <strong>Health</strong>
            <%= h.health %></p>
        <p>
          <strong>Tags</strong>
          <%= render h.tags %></p>
        <%- if h.user == current_user -%>
        <ul class="button-group">
          <li><%= link_to "Edit", edit_hive_path(h), class: "button small" %></li>
          <li><%= link_to "Delete",
                hive_path(h),
                data: { confirm: "Really?" },
                method: :delete,
                class: "button small" %></li></ul>
          <%- end -%>
        </div>
        </li>
        <% end %>
        </ul>
</div>
      </div>
