<div class="row">
<div class="medium-3 columns">
<%= image_tag @user.profile_photo %>
<h1><%= @user.name %></h1>
<%= @user.location %>
</div>
<div class="medium-9 columns">
  <%= render @user.inspections %>
<%= render @user.hives %>
</div>
</div>
