<div class="row">
    <div class="small-9 small-centered columns">

  <%= simple_form_for @hive do |f| %>
    <%= f.input :name, placeholder: "Name", label: false %>
    <%= f.input :location, placeholder: "Location", label: false %>
    <%= f.input :established, placeholder: "Date Established", label: false %>
    <%= f.input :health, placeholder: "Health", label: false %>
    <%= f.input :tag_list, placeholder: "Tags", label: false %>
    <%= f.submit "Submit", class: "button small" %>
  <% end %>

  </div>
</div>
