    <div class="profile-card">
      <%= link_to image_tag("hive.png") %>
      <div class="profile-info">
        <h4 class="subheader"><%= hive.name %></h4>
        <p><strong>Location</strong><br> <%= hive.location %></p>
        <p><strong>Established</strong><br> <%= hive.established %></p>
        <p><strong>Health</strong><br> <%= hive.health %></p>
        <div><%= render hive.tags %></div>
      </div>
    </div>
