<div class="row">
  <% @hives.each do |h| %>
    <div class="medium-4 columns">
      <div class="profile-card">
        <%= link_to image_tag("hive.png"), hive_path(h) %>
        <div class="profile-info">
          <h4 class="subheader"><%= h.name %></h4>
          <p><strong>Location</strong><br> <%= h.location %></p>
          <p><strong>Established</strong><br> <%= h.established %></p>
          <p><strong>Health</strong><br> <%= h.health %></p>
          <p><%= render h.tags %></p>
            <% @inspections.each do |i| %>
              <% if i.hive_id == h.id %>
                 Last inspection: <%= i.date %><br><br>
              <% end %>
            <% end %>
          <% if current_user %>
            <%= button_to "Edit Hive", edit_hive_path(h), class: "button small" %>
            <%= button_to "Delete",
                hive_path(h),
                data: { confirm: "Really?" },
                method: :delete,
                class: "button small" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
