<div class="row">
    <div class="small-9 small-centered columns">
  <%= simple_form_for @inspection do |f| %>
  <%= f.input :date, placeholder: "Date", label: false %>
  <%= f.input :time_of_day, placeholder: "Time of Day", label: false %>
  <%= f.collection_select(:hive_id, Hive.all, :id, :name, prompt: "Select Hive") %>
  <%= f.input :tag_list, placeholder: "Tags", label: false %>
  <%= f.submit "Submit", class: "button small" %>
<% end %>

  </div>
</div>
