  <div class="medium-12 columns" data-equalizer>
      <ul class='medium-block-grid-3'>
        <% @inspections.each do |i| %>
          <li class="<%= @int += 1 %>">
      <div class="profile-card" data-equalizer-watch>
          <%= link_to image_tag("inspect.png"), class: "tinyhive" %>
        <div class="profile-info">
          <h4 class="subheader">Inspection № <%= i.id %></h4>
          <p><strong>Date</strong><br> <%= i.date %></p>
          <p><strong>Time of Day</strong><br> <%= i.time_of_day %></p>
          <p><strong>Hive</strong><br>
                    <% @hives.each do |h| %>
                      <% if h.id == i.hive_id %>
                          <%= h.name %>
                      <% end %>
                    <% end %>
            </p></p>
        <strong>Tags</strong><br>
              <p>  <%= render i.tags %>
              </p>
            <ul class="button-group">
              <li><%= link_to "Edit", edit_inspection_path(i), class: "button small" %></li>
              <li><%= link_to "Delete",
                  inspection_path(i),
                  data: { confirm: "Really?" },
                  method: :delete,
                  class: "button small" %></li></ul>
        </div>
      </div>
    </li>
        <% end %>
        </ul>
    </div>
