<% @inspections.each do |i| %>

  <h3>Inspection #<%= i.id %></h3>
  Date: <%= i.date %><br>
  Time of Day: <%= i.time_of_day %><br>
  Hive: <% if i.hive_id.nil? %>
        <%= "Nothing" %>
      <% else %>
        <%= "#{Hive.find(i.hive_id).name}" %>
      <% end %><br>
  Tags: <%= render i.tags %>
      <br><br>
<% end %>
