<!DOCTYPE html>
<html>
<head>
  <title>Hiveminder</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
    <li class="name">

<h1 class=""><a href="/"><i class="fi-clipboard-pencil"></i>hiveminder</a></h1></li>
</div>
</li>
</ul>

<section class="top-bar-section">
    <ul class="right">
  <%- if current_user -%>
    <li><%= link_to "Tags", tags_path %></li>
    <li><%= link_to "Hives", hives_path %></li>
    <li><%= link_to "New Hive", new_hive_path %></li>
    <li><%= link_to "Inspections", inspections_path %></li>
    <li><%= link_to "New Inspection", new_inspection_path %></li>
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
  <%- else -%>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
  <%- end -%>
  </ul>
  </section>
</nav>

<div class="row">
    <div class="large-8 large-centered columns">

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <div data-alert class="alert-box">
      <%= value %>
      </div>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</div>
</div>

</body>
</html>
